<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="disclaimer">Disclaimer: Text and <code class="highlight"><span class="nt">&lt;pointyBrackets/&gt;</span></code> is my personal blog. The posts on this site are my own and they don’t necessarily represent any of my employers’ positions, strategies or opinions.</div>
    <div class="site-info mt-2">© 2022 <a class="highlight" href="/">Text and <code class="highlight"><span class="nt">&lt;pointyBrackets/&gt;</span></code></a></div></div>
  </div>

</footer>
